.vagrant/
scripts/metastore_db/
scripts/CodingChallengeScala/target/
scripts/CodingChallengeScala/project/
scripts/CodingChallengeODBC/target/
scripts/CodingChallengeODBC/project/
workingdir/
scripts/.idea/
files/

scripts/DemoTrades/target/
scripts/DemoTrades/project/
 
.idea
*.iml
 
*.swp